# =========================
# Python
# =========================
__pycache__/
.idea/
*.pt
*.pth
*.h5
*.ckpt
*.t7
*.npy
*.npz
*.mat
*.csv
*.tsv
*.zip
*.tar
*.gz
*.rar
*.7z
.vscode/
.env
*.json
results/
prompts/zh-bjtu.md
*.txt
result/BJTU-gearbox/DFLoader/*/code/*.py
src/AKSClab/SKSClab/util/normalize_data.m
*.m
*.csv
*.xlsx
*.fig

src/cluster/result/*
